
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*******************************Clases del header************************/
.header{
  background-color: black;
  font-style: normal;
  font-weight: bolder;
  font-size: 19px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.app{
  display: flex;
  justify-content:space-between ;
}

.titulo{
  color: blanchedalmond;
  
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  
}
#navbarScrollingDropdown{
  color:blanchedalmond;
}
.dropdown-menu.show{
  background-color: black;
  border-color: blanchedalmond;
}
.btn.btn-outline-success{
  color: blanchedalmond;
  border-color: blanchedalmond;
}



body{
  font-family: 'Josefin Slab', serif;


}

.detailStyle{
  
  font-family: 'Zen Kaku Gothic New', sans-serif;
}


/*******************************Clases del ItemListContainer************************/


.items{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  padding:20px;
  
}
.card{
  margin:10px;
}

/*******************************Clases del AddButton************************/

.addButtonContainer{
  display: flex;
  flex-direction: column;
  
  

}
.addButtonContainer button{

  text-align: center;
}

.buttonsChangContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  
  
}
.buttonsChangContainer Button{
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
}



.badge {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #b52400dd;
  border-radius: 10px}

  .borde{
    border: 1px solid #b52400dd;
    border-radius:15px;
    border-color: red;
    
  }

  .btn-primary :hover{
  background-color: #b52400dd;
  border-color: #b52400dd;}

  .checkoutForm{
    margin:10px;
    margin-bottom:50px ;
    width: 60vw;
    display:flex;
    flex-direction:column ;
    align-items:center;
    background-color:blanchedalmond;
    border-radius:20px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
  } 
  .checkoutItem{
    margin:50px;
    width: 15vw;
    display:flex;
    flex-direction:row ;
    justify-content: space-around;
    align-items:center;
    background-color:white;
    border-radius:20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .grilla {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "c s"; 
    justify-content: space-around; 
    align-content: space-evenly; 
  }
  .s { grid-area: s; }
  .c { grid-area: c; }

  .total{border-top:1px solid hsla(0,0%,40.4%,.3)}

  .endTotal{
    min-height: 80vh;
    
  }

  .footerB{
    color:blanchedalmond;
    text-decoration:none;
    margin:10px ;
    
  }
  .FooPos{
    font-size: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
  font-weight: bolder;
 
  font-family: 'Zen Kaku Gothic New', sans-serif;
    
  }

