
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*******************************Clases del header************************/
.header{
  background-color: black;
}

.app{
  display: flex;
  justify-content:space-between ;
}

.titulo{
  color: blanchedalmond;
  
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  
}
#navbarScrollingDropdown{
  color:blanchedalmond;
}
.dropdown-menu.show{
  background-color: black;
  border-color: blanchedalmond;
}
.btn.btn-outline-success{
  color: blanchedalmond;
  border-color: blanchedalmond;
}



body{
  font-family: 'Josefin Slab', serif;


}

.detailStyle{
  font-family: 'Zen Kaku Gothic New', sans-serif;
}


/*******************************Clases del ItemListContainer************************/


.items{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  padding:20px;
  
}
.card{
  margin:10px;
}

/*******************************Clases del AddButton************************/

.addButtonContainer{
  display: flex;
  flex-direction: column;
  
  

}
.addButtonContainer button{

  text-align: center;
}

.buttonsChangContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  
  
}
.buttonsChangContainer Button{
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
}

